<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>IDPPublic</display-name>
    <filter>
        <description>Base Struts2 filter</description>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>it.infn.ct.security.listeners.HibernateListener</listener-class>
    </listener>
    <listener>
        <description>Run a periodic check of user registration in order to stop users not anymore interested or moving in other organisations</description>
        <listener-class>it.infn.ct.security.listeners.CleanerListener</listener-class>
    </listener>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>about.jsp</welcome-file>
    </welcome-file-list>
<!--
    <security-constraint>
        <display-name>General</display-name>
        <web-resource-collection>
            <web-resource-name>Overall</web-resource-name>
            <description/>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <description>All Protectes</description>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
-->
        <resource-ref>
        <description>Configurazione mail per notifica utenti</description>
        <res-ref-name>mail/Users</res-ref-name>
        <res-type>javax.mail.Session</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
