<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
    <property name="hibernate.connection.url">jdbc:hsqldb:file:/home/marco/Projects/Tomcat/hsqldb/test</property>
    <property name="hibernate.connection.user">sa</property>
    <property name="hibernate.connection.password"/>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping resource="UserRequest.hbm.xml"/>
    <mapping resource="UserConfirmUpdate.hbm.xml"/>
    <mapping resource="UserReActivateRequests.hbm.xml"/>
    <!--mapping resource="UserPasswordReset.hbm.xml"/-->
  </session-factory>
</hibernate-configuration>
